<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tour management system</title>

    <!-- 
    - favicon
  -->
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml" />

    <!-- 
    - custom css link
  -->
    <link rel="stylesheet" href="style.css" />

    <!-- 
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comforter+Brush&family=Heebo:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body id="top">
    <!-- 
    - #HEADER
  -->

    <header class="header" data-header>
      <div class="container">
        <a href="#">
          <h1 class="logo">Tourism
          </h1>
        </a>

        <button
          class="nav-toggle-btn"
          data-nav-toggle-btn
          aria-label="Toggle Menu"
        >
          <ion-icon name="menu-outline" class="open"></ion-icon>
          <ion-icon name="close-outline" class="close"></ion-icon>
        </button>

        <nav class="navbar">
          <ul class="navbar-list">
            <li>
              <a href="#" class="navbar-link">admin</a>
            </li>

            <li>
              <a href="/deleteTour" class="navbar-link">delete tour</a>
            </li>

            <li>
              <a href="/deleteUser" class="navbar-link">delete User</a>
            </li>

            <li>
              <a href="/touradd" class="navbar-link">Add tour</a>
            </li>

            <li>
              <a href="/tourshow" class="navbar-link">Tour show</a>
            </li>

            <li>
              <a href="/chart" class="navbar-link">Chart</a>
            </li>

      </div>
    </header>

    <main>
      <article>
        <!-- 
        - #HERO
      -->

        <section
          class="section hero"
          style="
            background-image: url('./assets/images/hero-bg-bottom.png')
              url('./assets/images/hero-bg-top.png');
          "
        >
          <div class="container">
            <img
              src="images/shape-1.png"
              width="61"
              height="61"
              alt="Vector Shape"
              class="shape shape-1"
            />

            <img
              src="images/shape-2.png"
              width="56"
              height="74"
              alt="Vector Shape"
              class="shape shape-2"
            />

            <img
              src="images/shape-3.png"
              width="57"
              height="72"
              alt="Vector Shape"
              class="shape shape-3"
            />

            <div class="hero-content">
              <p class="section-subtitle">Explore Your Travel</p>

              <h2 class="hero-title">SRB Travel's</h2>

              <p class="hero-text">
                Discover the world with ease. Join us on effortless adventures where the journey is as delightful as the destination.
              </p>

              <div class="btn-group">

              </div>
            </div>

            <figure class="hero-banner">
              <img
                src="images/hero-banner.png"
                width="686"
                height="812"
                loading="lazy"
                alt="hero banner"
                class="w-100"
              />
            </figure>
          </div>
        </section>
        <!-- 
        - #ABOUT
      -->

        <section id="about" class="section about">
          <div class="container">
            <div class="about-content">
              <p class="section-subtitle">About Us</p>

              <h2 class="h2 section-title">
                Explore all tour of the world with us.
              </h2>

              <p class="about-text">
                Experience the real deal with us! Our adventures are genuine, without any gimmicks or fake additions.

              <ul class="about-list">
                <li class="about-item">
                  <div class="about-item-icon">
                    <ion-icon name="compass"></ion-icon>
                  </div>

                  <div class="about-item-content">
                    <h3 class="h3 about-item-title">Tour guide</h3>

                    <p class="about-item-text">
                      Explore captivating destinations with our expert tour guides
                    </p>
                  </div>
                </li>

                <li class="about-item">
                  <div class="about-item-icon">
                    <ion-icon name="briefcase"></ion-icon>
                  </div>

                  <div class="about-item-content">
                    <h3 class="h3 about-item-title">Friendly price</h3>

                    <p class="about-item-text">
                      Discover incredible destinations at unbeatable prices with our tour management system.
                    </p>
                  </div>
                </li>

                <li class="about-item">
                  <div class="about-item-icon">
                    <ion-icon name="umbrella"></ion-icon>
                  </div>

                  <div class="about-item-content">
                    <h3 class="h3 about-item-title">Reliable tour</h3>

                    <p class="about-item-text">
                      Experience peace of mind with our dependable tour management system.
                    </p>
                  </div>
                </li>
              </ul>

           
            </div>

            <figure class="about-banner">
              <img
                src="images/about-banner.png"
                width="756"
                height="842"
                loading="lazy"
                alt=""
                class="w-100"
              />
            </figure>
          </div>
        </section>
        <p class="section-subtitle">Contact Us</p>
        <section id="contact" class="contact">
        <form action="/send-email" method="POST" class="contact-form">
          <div class="input-box">
            <input type="text" placeholder="Enter your name" name="name">
          </div>
          <div class="input-box">
            <input type="text" placeholder="Enter your email" name="email">
          </div>
          <div class="input-box message-box">
            <textarea placeholder="Your message" name="message"></textarea>
          </div>
          <div class="button">
            <input type="submit" value="Send Now">
          </div>
        </form>
        </section>
        
    <footer
      class="footer"
      style="background-image: url('images/footer-bg.png')"
    >
      <div class="container">
        <div class="footer-top">
          <ul class="footer-list">
            <li>
              <p class="footer-list-title">Top destination</p>
            </li>

            <li>
              <a href="#" class="footer-link">Indonesia, Jakarta</a>
            </li>

            <li>
              <a href="#" class="footer-link">Maldives, Malé</a>
            </li>

            <li>
              <a href="#" class="footer-link">Australia, Canberra</a>
            </li>

            <li>
              <a href="#" class="footer-link">Thailand, Bangkok</a>
            </li>

            <li>
              <a href="#" class="footer-link">Morocco, Rabat</a>
            </li>
          </ul>

          <ul class="footer-list">
            <li>
              <p class="footer-list-title">Categories</p>
            </li>

            <li>
              <a href="#" class="footer-link">Travel</a>
            </li>

            <li>
              <a href="#" class="footer-link">Lifestyle</a>
            </li>

            <li>
              <a href="#" class="footer-link">Fashion</a>
            </li>
            <li>
              <a href="#" class="footer-link">Education</a>
            </li>
            <li>
              <a href="#" class="footer-link">Food & Drink</a>
            </li>
          </ul>

          <ul class="footer-list">
            <li>
              <p class="footer-list-title">Quick links</p>
            </li>

            <li>
              <a href="#" class="footer-link">About</a>
            </li>

            <li>
              <a href="#" class="footer-link">Contact</a>
            </li>

            <li>
              <a href="Tourshow" class="footer-link">Tours</a>
            </li>

          </ul>

          <div class="footer-list">
            <p class="footer-list-title">Give a feedback</p>

            <p class="newsletter-text">
              For the latest deals and tips, travel no further than your inbox
            </p>

            <form action="/api/feedback" method="POST" class="newsletter-form">
              <input
                type="text"
                name="email"
                required
                placeholder="Email address"
                class="newsletter-input"
              />

              <button type="submit" class="btn btn-primary">submit</button>
            </form>
          </div>
        </div>

        <div class="footer-bottom">
          <a href="#" class="logo">Tourism
          </a>

          <p class="copyright">
            &copy; 2024 <a href="#" class="copyright-link">TourwithSRB</a>.
            All Rights Reserved
          </p>

          <ul class="social-list">
            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-google"></ion-icon>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>

    <!-- 
    - #GO TO TOP
  -->

    <a href="#top" class="go-top" data-go-top aria-label="Go To Top">
      <ion-icon name="chevron-up-outline"></ion-icon>
    </a>

    <!-- 
    - custom js link
  -->
    <script src="script.js"></script>

    <!-- 
    - ionicon link
  -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
