body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  color: rgb(17, 153, 17);
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.profile-image {
  flex: 1;
  text-align: center;
  width: 50%; /* Adjust the width as needed */
}

.profile-image img {
  max-width: 100%;
  height: 375px;
  width: 400px; /* Ensure the image takes up the full width of its container */
  border-radius: 8px; /* To make the image with rounded corners */
}

.profile-info {
  flex: 1;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-info form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.profile-info label {
  font-weight: bold;
}

.profile-info input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.profile-info .edit-profile-button {
  display: block;
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(36, 209, 36);
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.profile-info .edit-profile-button:hover {
  background-color: #0056b3;
}

/* Media queries for tablet and mobile screens */

@media screen and (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    align-items: stretch;
    text-align: center;
  }

  .profile-image {
    width: 100%;
    margin-bottom: 20px;
  }

  .profile-info {
    width: 100%;
  }

  .profile-info .edit-profile-button {
    width: 100%;
  }
}
